<tr>
  <!--<td>
    <%= clasification.activity_id %>
  </td>-->
  <td>
    <%= clasification.activity.name %>
  </td>
  <!--<td>
    <%= clasification.category_id %>
  </td>-->
  <td>
    <%= clasification.category.description %>
  </td>
  </td>
  <td class="text-right">
    <%= link_to 'Editar', edit_admin_clasification_path(clasification), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_clasification_path(clasification), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>
